<nb-card>
    <nb-card-header>
        <p>Film :</p>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="films">
            <table>
                <tr>
                    <td>Titre Film </td>
                    <td>:</td>
                    <td>{{films.title}}</td>
                </tr>
                <tr>
                    <td>Réalisateur </td>
                    <td>:</td>
                    <td>{{films.auteur.nom}} {{films.auteur.prenom}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>:</td>
                    <td>{{films.type.nom}}</td>
                </tr>
                <tr>
                    <td>Date realise </td>
                    <td>:</td>
                    <td>{{films.releaseDate}}</td>
                </tr>
            </table>

        </div>
    </nb-card-body>
</nb-card>