<div class="row">
  <div class="col-xxl-7">
    <nb-card>
      <nb-card-header>
        <h4>Movie Library Web App</h4>
        Cinematic is the world's most popular authoritative source for movies,
         TV series and celebrities. Discover popular movies and TV series,
         celebrity news and the most recent awards and events.
         Follow what you want to watch with your favorites list
         and rate the movies and series you see. Watch videos,
         including Cinematic exclusives, trailers, behind the scenes clips,
          and more. Consult the schedules of the nearby sessions
          and read user reviews !!
      </nb-card-header>
    </nb-card>
  </div> 
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>
        <img src="../assets/images/nick.png"/>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>